body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
   color: red;
}
header{
  text-align: center;
}
figure{
  text-align: center;
  font-size: small;
}
nav a{
  padding: 10px;
  background-color: wheat;
}
section#featured-property p {
  text-align: center;
   width: 800px;
   margin: 0 auto;
}
#featured-property :nth-child(3) {
  margin-top: 0.4cm;
  margin-bottom: 0.4cm;
}
#details div{
width: 25%;
 text-align: center;
 float: left;
  justify-content: center;
  bottom: 0;
  background-color: #a52a2a;
}


